/* FONT-FACE */
@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Regular.woff2') format('woff2'),
    url('../font/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Bold.woff2') format('woff2'),
    url('../font/Rubik-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Medium.woff2') format('woff2'),
    url('../font/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}


/* SITE-BUTTONS */
.button {
  display: inline-block;
  padding: 13px 20px;
  border-radius: 10px;
  background-color: #7296EC;
  color: #fff;
  font-family: 'Rubik';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.4s ease;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--orange {
  padding-right: 30px;
  padding-left: 30px;
  font-size: 20px;
  background-color: #f78b3b;
}

.button--form {
  padding: 17px 30px;
}

.button--modal {
  padding: 15px 40px;
  font-size: 24px;
}

/* SITE-HEADER */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  padding: 8px 6px;
  border-radius: 7px;
  background-color: #fff;
  margin-right: 35px;
}

.header-img {
  width: 264px;
  height: 28px;
  object-fit: contain;
}

.exchange-rate {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.exchange-rate-value {
  color: #555;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.exchange-rate-value:not(:last-child) {
  margin-right: 25px;
}

.exchange-rate-value b {
  color: #2959CE;
  font-weight: 700;
}

.search {
  margin-right: 25px;
}

.search-input {
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 41px;
  padding-right: 20px;
  border: 0;
  border-radius: 60px;
  background-color: #fff;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 15px center;
}

.togler {
  display: flex;
  align-items: center;
  border-radius: 39px;
  padding: 3px;
  background-color: #dce6ff;
  margin-right: 25px;
}

.togler-value {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 7px;
  border-radius: 50%;
  color: #a6a6a6;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.togler-value--active {
  color: #000;
  background-color: #fff;
}


/* SITENAV */
.sitenav-container {
  padding-top: 10px;
  padding-bottom: 40px;
}

.sitenav {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.sitenav__link {
  display: inline-block;
  color: #7f7f7f;
  text-align: center;
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: color 0.4s ease,
    opacity 0.4s ease;
}

.sitenav__link:hover {
  color: #7296ec;
  opacity: 0.8;
}

.sitenav__link:active {
  opacity: 0.6;
}